header
  .container-fluid
    a.logo.pull-left(href='#/home')
      i.axa-logo
      span E-orientation
      i.glyphicon.glyphicon-axa-switch
      |  back-office

    .info-user.pull-right.text-right
      p
        span Last name First name
        |  [Profile]
      ul.list-inline.pull-right
        li
          a(href='#', title='Parameters')
            i.glyphicon.glyphicon-cog
            span Parameters
        li
          a(href='#', title='Help')
            i.glyphicon.glyphicon-question-sign
            span Help
