- links = [{ label: 'AXA 2015 - All rights reserved' }, { href: '#', label: 'Link 1' }]

footer
  .container-fluid
    a.logo(href='#/home')
      i.axa-logo
      span redefining
      i.glyphicon.glyphicon-axa-switch
      |  standards
    ul.list-inline
      each link in links
        li: a(href=link.href)=link.label
