doctype html
html(lang='fr')
  head
    base(href='/')
    meta(charset='utf-8')
    title e-Orientation ADM
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width')
    link(rel='icon' type='image/png' href='assets/favicon.ico')

    <!-- build:css({.tmp,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,src}) styles/app.css -->
    link(rel="stylesheet" href="assets/styles/index.css")
    <!-- endbuild -->

  body(ng-app="app")
    af-header
    af-nav
    main.main
      app
        span.loader loading
    af-footer

  <!-- build:js({.tmp,src}) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,src}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->
  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->
