- navItems = [{ href: 'app', label: 'Home' }, { href: 'contacts', label: 'Points de contact' }, { href: '/modifications', label: 'Gestion des modifications' }, { href: '/routage', label: 'Arborescence de routage' }, { href: '/user', label: 'Utilisateurs' }]

.aside(tabindex='-1' role='dialog')
  .aside-dialog
    .aside-content
      .aside-header(ng-show='title')
        button.close(type='button' ng-click='$hide()') ×
        h4.aside-title(ng-bind='title')
      .aside-body(ng-bind='content')
        ul.nav.navbar-nav(af-navbar)
          each item in navItems
            li: a(ui-sref='contacts' ui-sref-active="active")=item.label
