- navItems = [{ url: 'app', label: 'Home' }, { url: 'contacts', label: 'Points de contact' }, { url: 'updates', label: 'Gestion des modifications' }, { url: 'routing', label: 'Arborescence de routage' }, { url: 'users', label: 'Utilisateurs' }]


nav.navbar.navbar-default.hidden-xs
  .container-fluid
    .navbar-collapse.collapse(data-menu)
      ul.nav.navbar-nav(af-navbar)
        each item in navItems
          li: a(ui-sref=item.url ui-sref-active="active")=item.label
